<!-- <%= @restaurant.inspect %> -->

<h2><%= @restaurant.name %></h2>
<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.url %></h3>

<%= link_to "Delete the Restaurant", restaurant_path(@restaurant), method: :delete%><br>
<%= link_to "Edit the Restaurant", edit_restaurant_path(@restaurant)%><br>
<%= link_to "Back to Restaurants", restaurants_path%><br>

<% if @restaurant.reviews.present? %>
<h2>Reviews</h2>
<% end %>
<% @restaurant.reviews.each do |review| %>
  <div class="reviews">
  <p>
    User:
    <%= review.user.email %>
  </p>
  <p>
    Review:
    <%= review.body %>
  </p>
  <p>
    Rating:
    <%= review.rating %>
  </p>
  </div>
<% end %>

<% if user_signed_in?%>
<h2>Add a review:</h2>
<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
<p>

  <%  if current_user %>
    <%= f.label :user %>
    <% @user = current_user %>
  <% else %>
    Anonymous User
  <%end%>
</p>


  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
<% end %>
