
<!DOCTYPE html>
<html>
  <head>
    <title>Friedfinder</title>
    <meta name="viewport" content="initial-scale=.8, user-scalable=no">
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lakki+Reddy' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key="></script> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
     <!-- <img src="http://a57.foxnews.com/global.fncstatic.com/static/managed/img/fn2/travel/0/0/friedchicken.jpg" alt="friend chicken image" /> -->
     <div id="header"><h1>FRIED CHICKEN REVIEWER</h1></div>
  </header>

  <body class="container">

    <!-- <div class="row"> -->
    		<!-- <div class="col-md-3">

    			<button type="button" class="btn btn-default">
    				Default
    			</button>
    		</div>
    		<div class="col-md-3">

    			<button type="button" class="btn btn-default">
    				Default
    			</button>
    		</div>
    		<div class="col-md-3">

    			<button type="button" class="btn btn-default">
    				Default
    			</button>
    		</div>
    		<div class="col-md-3">

    			<button type="button" class="btn btn-default">
    				Default
    			</button>
    		</div> -->
    	<!-- </div> -->
      <p class = "notice"><%= notice %></p>
      <p><%= alert %></p>
      <%if !current_user%>
        <!-- <%= link_to "Sign Up", new_user_registration_path %><br> -->
        <%= link_to "Sign In", new_user_session_path %><br>
      <% else %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <%= current_user.email %>
      <% end %>
    <%= yield %>
    <!-- <div id="map"></div> -->
  </body>
</html>
